<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/reset.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/site.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/menu.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/postBoard.css")" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/3rdParty/jquery-1.11.0.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/site.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/ApplicationEnvironment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/AJAXAdapter.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/Menu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/PostBoard.js")"></script>

<script type="text/javascript">

    var VF = {};
    $(document).ready(function () {
        VF.Site = new Site();
        VF.Site.Init();

        VF.Environment = new ApplicationEnvironment();

        var initObjects = [
            {
                Name: 'Menu',
                Instance: new Menu()
            },
            {
                Name: 'PostBoard',
                Instance: new PostBoard()
            }
        ];
        $(initObjects).each(function (crtObj, obj) {
            VF[obj.Name] = obj.Instance;
            obj.Instance.Init();
        })
    });
</script>
</head>
<body>
    <div class="header">
        <div class="logo">Varsa-ti fierea !</div>
        @RenderSection("MainMenu", required: false)
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>

