<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/reset.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/themes/base/jquery.ui.all.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/site.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/menu.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Css/postBoard.css")" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/3rdParty/jquery-1.11.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/3rdParty/jquery-ui-1.10.4.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/site.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/ApplicationEnvironment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/AJAXAdapter.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/Menu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/PostBoard.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/Controls/PostMessageForm.js")"></script>

<script type="text/javascript">

    var VF = {};
    $(document).ready(function () {
        VF.Site = new Site();
        VF.Site.Init();

        VF.Environment = new ApplicationEnvironment();

        var initObjects = [
            {
                Name: 'Menu',
                Instance: new Menu()
            },
            {
                Name: 'PostBoard',
                Instance: new PostBoard()
            },
            {
                Name: 'PostMessageForm',
                Instance: new PostMessageForm()
            }
        ];
        $(initObjects).each(function (crtObj, obj) {
            VF[obj.Name] = obj.Instance;
            obj.Instance.Init();
        })
    });
</script>
</head>
<body>
    <div class="header">
        @{
            var homeData = new
            {
                Action = "HOME"
            };
            var postData = new
            {
                Action = "POST"
            };
            var aboutData = new
            {
                Action = "ABOUT"
            };
        }

        <div class="mainMenu">
            <div class="logo">Varsa-ti fierea !</div>
            <div class="menuItem home" data-vf="@(Json.Encode(homeData))">
                <span class="icon48"></span>
            </div>
            <div class="menuItem post" data-vf="@(Json.Encode(postData))">
                <span class="icon48"></span>
            </div>
            <div class="menuItem about" data-vf="@(Json.Encode(aboutData))">
                <span class="icon48"></span>
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>

